/* Theme style */

/* Event Delegation */
button {
    font-size: 20px;
    padding: 10px;
}

button:hover, li:hover {
    cursor: pointer;
}

ul {
    width: 300px;
    list-style: none;
    padding-left: 20px;
}

li {
    color: white;
    text-align: center;
    font-size: 26px;
    background-color: blue;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.original {
    background-color: green;
}


/* Drill One Style */
* {
    box-sizing: border-box;
}

main {
    padding: 30px;
    min-width: 250px;
}

.hero {
    height: 200px;
    margin-bottom: 20px;
}

.hero img {
    height: 100%
}


.thumbnail {
    display: inline-block;
    cursor: pointer;
    height: 60px;
}

a.thumbnail:hover {
    box-shadow: 5px 5px 5px gray;
}

.thumbnail img {
    max-height: 100%;
}